@font-face {
	font-family:'helveticacy';
	src:url('../fonts/helveticacy.eot');
	src:local('☺'), url('../fonts/helveticacy.woff') format('woff'), url('../fonts/helveticacy.ttf') format('truetype'), url('../fonts/helveticacy.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
html, body {
	height:100%
}
body {
	background-color:#fff
}
footer {
	background-color:#000;
	height:40px
}
a {
	color:#000;
	display:block;
	font-size:22px;
	text-decoration:none
}
a:focus,
a:hover {
	color:#000;
	text-decoration:none
}
a.hover {
	opacity:1;
	transition:opacity .5s linear;
	-moz-transition:opacity .5s linear;
	-webkit-transition:opacity .5s linear;
}
a.hover:focus,
a.hover:hover {
	opacity:0.5
}
.musica {
	position:absolute;
	left:15px;
	top:15px
}
.container-menu {
	background-color:#fff;
	position:relative;
	letter-spacing: 3px;
}
.container-menu div {
	height:100%;
	left:0;
	padding:9% 0 0;
	position:absolute;
	top:0;
	width:100%
}
.container-menu a {
	display:inline-block;
	font-family:'helveticacy';
	margin-bottom:7px;
	margin-right:40px
}
.no-border {
	border-bottom:none!important
}
footer a {
	display:inline-block;
	line-height:38px;
	margin-left:15px
}
footer .logo-ripley {
	margin-right:15px;
	margin-top:6px
}
.musica,
.menu {
	display:inline-block;
	margin:0 15px
}
.titulo {
	font-family:'helveticacy';
	font-size:24px;
	line-height:68px;
	margin:0;
	padding-top:1%
}
.bloque-menu {
	background-color:#fff;
	height:auto;
	padding:30px 0 0;
	position:absolute;
	right:0;
	top:0;
	width:280px;
	letter-spacing: 3px;
	z-index:999
}
.bloque-menu a {
	color:#000;
	display:inline-block;
	font-family:'helveticacy';
	font-size:23px;
	margin-bottom:7px;
	text-decoration:none
}
.bloque-menu a:focus,
.bloque-menu a:hover {
	color:#000;
	text-decoration:none
}
.bloque-menu p.redes a {
	margin-right:30px
}
.bloque-menu p.redes a:last-child {
	margin-right:0
}
.bloque-menu hr {
	background-color:transparent;
	background-image:url('../images/linea.png');
	background-repeat:repeat-x;
	border:none;
	height:1px;
	margin-bottom:18px;
	margin-top:10px;
	width:70%
}
.cerrar {
	position:absolute;
	right:15px;
	top:15px
}
.jumbotron.vertical-center {
	margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}
.vertical-center {
	min-height: 100%;  /* Fallback for vh unit */
	min-height: 100vh; /* You might also want to use
						  'height' property instead.
						  
						  Note that for percentage values of
						  'height' or 'min-height' properties,
						  the 'height' of the parent element
						  should be specified explicitly.
	
						  In this case the parent of '.vertical-center'
						  is the <body> element */

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	/* Align the bootstrap's container vertically */
    -webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

	/* In legacy web browsers such as Firefox 9
	   we need to specify the width of the flex container */
	width: 100%;

	/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	   hence the bootstrap's container won't be aligned to the center anymore.
	
	   Therefore, we should use the following declarations to get it centered again */
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}

@media (max-width:320px) {
	.logo-ripley {
		margin-top:8px!important
	}
}
@media (max-width:414px) {
	.todo-ancho {
		width:100%
	}
	header {
		height:30px
	}
	header a,
	.titulo {
		line-height:30px
	}
	header .musica {
		left:5px;
		margin:0!important;
		top:2px
	}
	.musica, .menu {
		margin:0 5px!important
	}
	.titulo {
		font-size:12px!important;
		margin-left:-15px;
		white-space:nowrap!important
	}
	.menu img {
		width:55%!important
	}
}
@media (max-width:767px) {
	body {
		background-color:#fff
	}
	a.hover {
		opacity:1
	}
	a.hover:focus,
	a.hover:hover {
		opacity:1
	}
	.row > [class*='col-'] {
		border-bottom:1px solid #000
	}
	.titulo {
		font-size:13px
	}
	.menu img {
		width:75%
	}
	.tu-eliges {
		margin-bottom:17px;
		margin-top:34px
	}
	.info {
		font-size:22px;
		line-height:24px;
		padding:20px 10px
	}
	a.hover {
		opacity:1
	}
	.bloque-imprescindibles{
		top:0;
	}
	.bloque-imprescindibles img{
		width: 50%
	}
}
@media (min-width:768px) and (max-width:991px) {
	.container-menu div {
		padding-top:2%
	}
	.container-menu br {
		display:none
	}
	.container-menu a {
		display:block;
		font-size:13px;
		line-height:24px;
		margin-bottom:0;
		margin-right:20px
	}
}

@media (min-width:992px) and (max-width:1024px) {
	.container-menu div {
		padding-top:4%
	}
	.container-menu br {
		display:none
	}
	.container-menu a {
		display:block;
		font-size:17px;
		line-height:30px;
		margin-bottom:0;
		margin-right:30px
	}
}

@media (min-width:1670px) {
	.container-menu div {
		padding-top:11%
	}
	.container-menu a {
		font-size:27px;
		margin-right:60px
	}
}
