@font-face {
	font-family:'helveticacy';
	src:url('../fonts/helveticacy.eot');
	src:local('☺'), url('../fonts/helveticacy.woff') format('woff'), url('../fonts/helveticacy.ttf') format('truetype'), url('../fonts/helveticacy.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'BebasNeue';
	src:url('../fonts/BebasNeue Bold.eot');
	src:local('☺'), url('../fonts/BebasNeue Bold.woff') format('woff'), url('../fonts/BebasNeue Bold.ttf') format('truetype'), url('../fonts/BebasNeue Bold.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
header a {
  line-height: 68px;
}
a {
	display:block;
	color:#000;
	text-decoration:none
}
a:focus,
a:hover {
	color:#000;
	text-decoration:none
}
.menu {
	display:inline-block;
	margin:0 15px
}
.titulo {
	font-family:'helveticacy';
	font-size:24px;
	line-height:68px;
	margin:0
}
.bloque-menu {
	background-color:#fff;
	height:auto;
	padding:30px 0 0;
	position:absolute;
	right:0;
	top:0;
	width:280px;
	z-index:999
}
.bloque-menu a {
	color:#000;
	display:inline-block;
	font-family:'helveticacy';
	font-size:23px;
	margin-bottom:7px;
	text-decoration:none
}
.bloque-menu a:focus,
.bloque-menu a:hover {
	color:#000;
	text-decoration:none
}
.bloque-menu p.redes a {
	margin-right:30px
}
.bloque-menu p.redes a:last-child {
	margin-right:0
}
.bloque-menu hr {
	background-color:transparent;
	background-image:url('../images/linea.png');
	background-repeat:repeat-x;
	border:none;
	height:1px;
	margin-bottom:10px;
	margin-top:10px;
	width:70%
}
.cerrar {
	position:absolute;
	right:15px;
	top:15px
}
/*Videos*/
.video-padding{
    padding:0 4.5%;
}
.logo-video{
    padding-top:2.7%;
    padding-bottom:2.7%;
}
.content-videos{
    margin:5% 0 2.7% 0;
}
.video-padding p{
    padding:0 0 0 10px;
    margin:0 0 3% 0;
}
.video-padding p.opacity{
    opacity:0;
}
.video-descripcion p{
    margin:6.5% 0 0 0;
    text-align: center;
    font-family:'helveticacy';
    font-size:30px;
}
.video-descripcion p.parrafo-1{
    line-height:30px;
    font-weight:bold;
}
.video-descripcion p.parrafo-2{
    font-size:20px;
}
/*Must*/
.menu-must{
	position:relative;
	margin:4% 0 0 0;
	padding:8% 0 0 0;
}
.logo-must{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align: center;
}
.logo-must img{
	position: relative;
	z-index: 2;
}
/*Participa y Gana*/
.content-plomo{
	background:#dadada;
	font-size: 22px;
	margin:4% 0 0 0;
}
.content-plomo .text-center{
	padding-top:4%;
	padding-bottom:4%;
}
.content-plomo .text-center div{
	margin:0;
	padding:4.5% 0 0 0;
	height:200px;
	border-right:1px solid #8d8d8d;
	font-weight: bold;
}
.content-plomo .text-center div p{
	display: table;
	height:120px;
	margin:10px 0 0 0;
	padding:0;
	overflow: hidden;
	width: 100%;
	line-height: 26px;
}
.content-plomo .text-center div p span{
	display: table-cell;
	vertical-align: middle;
}
.content-plomo .text-center div p span a{
	display: inline-block;
}
.content-plomo .text-center div.last{
	border-right: 0;
}
.content-plomo .text-center div.last p{
	line-height: 32px;
}
.content-catalogo{
	margin:4% 0 0 0;
}
.content-catalogo p{
	margin:3% 0;
	padding:0;
	font-size:25px;
	line-height: 40px;
	font-weight: bold;
}