a.hover {
	opacity:0.75;
	transition:opacity .5s linear;
	-moz-transition:opacity .5s linear;
	-webkit-transition:opacity .5s linear;
}
a.hover:focus,
a.hover:hover {
	opacity:1
}
.slider-tendencias {
	border-bottom:8px solid #000
}