@font-face {
	font-family:'helveticacy';
	src:url('../fonts/helveticacy.eot');
	src:local('☺'), url('../fonts/helveticacy.woff') format('woff'), url('../fonts/helveticacy.ttf') format('truetype'), url('../fonts/helveticacy.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'BebasNeue';
	src:url('../fonts/BebasNeue Bold.eot');
	src:local('☺'), url('../fonts/BebasNeue Bold.woff') format('woff'), url('../fonts/BebasNeue Bold.ttf') format('truetype'), url('../fonts/BebasNeue Bold.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
a {
	display:block;
	color:#000;
	text-decoration:none
}
a:focus,
a:hover {
	color:#000;
	text-decoration:none;
}
a.hover {
	opacity:1;
	transition:opacity .5s linear;
	-moz-transition:opacity .5s linear;
	-webkit-transition:opacity .5s linear;
}
a.hover:focus,
a.hover:hover {
	opacity:0.5
}
header {
	height:68px
}
header a {
	line-height:68px
}
.slider-tendencias {
	border-bottom:8px solid #000
}
.tu-eliges {
	margin-bottom:52px;
	margin-top:52px
}
.info {
	font-family:'BebasNeue';
	font-size:28px;
	letter-spacing:1px;
	line-height:30px;
	padding:40px;
	text-transform:uppercase
}
.musica,
.menu {
	display:inline-block;
	margin:0 15px
}
.titulo {
	font-family:'helveticacy';
	font-size:24px;
	line-height:68px;
	margin:0
}
.bloque-menu {
	background-color:#fff;
	height:auto;
	padding:30px 0 0;
	position:absolute;
	right:0;
	top:0;
	width:280px;
	letter-spacing: 3px;
	z-index:999
}
.bloque-menu a {
	color:#000;
	display:inline-block;
	font-family:'helveticacy';
	font-size:23px;
	margin-bottom:7px;
	text-decoration:none
}
.bloque-menu a:focus,
.bloque-menu a:hover {
	color:#000;
	text-decoration:none
}
.bloque-menu p.redes a {
	margin-right:30px
}
.bloque-menu p.redes a:last-child {
	margin-right:0
}
.bloque-menu hr {
	background-color:transparent;
	background-image:url('../images/linea.png');
	background-repeat:repeat-x;
	border:none;
	height:1px;
	margin-bottom:18px;
	margin-top:10px;
	width:70%
}
.cerrar {
	position:absolute;
	right:15px;
	top:15px
}
.cerrar-tendencias {
	position:absolute;
	right:5px;
	top:5px
}
.bloque-imprescindibles .cerrar-tendencias img{
	width:100%;
}
.bloque-tendencias {
    position: relative;
}
.bloque-imprescindibles{
    position:absolute;
    right:0;
    top:-70px;
	z-index:1
}
.bloque-imprescindibles img{
    width: 60%
}
.bloque-prenda {
	overflow:hidden;
	position:relative
}
.bloque-prenda div {
	background-image:url('../images/fondo-info.png');
	color:#fff;
	font-family:'helveticacy';
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	left:0;
	height:100%;
	padding:60% 11%;
	position:absolute;
	text-align:center;
	top:0;
	width:100%;
	z-index:1
}
.bloque-prenda p {
	position:absolute;
	right:28px;
	top:15px;
	z-index:2
}
.bloque-prenda a {
	display:inline-block
}
.prenda{
	width:100%
}
@media (max-width:376px) {
	header {
		height:45px
	}
	header a,
	.titulo {
		line-height:45px
	}
	.musica, .menu {
		margin:0 5px!important
	}
	.menu img {
		
	}
	.titulo {
		font-size:12px!important;
		margin-left:-15px;
		white-space:nowrap!important
	}
	.menu img {
		width:55%!important
	}
}
@media (max-width:767px) {
	.titulo {
		font-size:13px
	}
	.menu img {
		width:75%
	}
	.tu-eliges {
		margin-bottom:17px;
		margin-top:34px
	}
	.info {
		font-size:22px;
		line-height:24px;
		padding:20px 10px
	}
	a.hover {
		opacity:1
	}
}

@media (min-width:768px) and (max-width:991px) {
	.tu-eliges {
		margin-bottom:26px;
		margin-top:26px
	}
	.info {
		font-size:28px;
		line-height:32px;
		padding:20px
	}
}